* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: gray;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1280px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 40px;
}

.slider {
    width: 600px;
    height: 300px;
    overflow: hidden;
    position: relative;
    border: solid black 1px;
}

.slider-line {
    display: flex;
    position: absolute;
    transition: 0.3s;
    left: 0px;
}

.slide {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    color: white;
    width: 600px;
    height: 300px;
    position: relative;
}

.slider-control {
    display: flex;
    justify-content: space-between;
    position: absolute;
    margin: 0 auto;
    width: 100%;
    top: 36%;
}

.left, .right {
    font-size: 56px;
    color: black;
}

.left {
    margin-left: 18px;
}

.right {
    margin-right: 18px;
}